*, html, body{ padding:0; margin:0; }

body{
    overflow: hidden;
    background: -webkit-linear-gradient(#ECECF5, #9797a5);	  
	font-family: Helvetica, Arial, sans-serif;
}


.ribbon{
    position: absolute;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(30, 31, 33, 0.8);
    
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05), 0 0 0 8px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05), 0 0 0 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05), 0 0 0 8px rgba(0, 0, 0, 0.05);
}

.ribbon section{
    width: 1024px;
    margin: 0 auto;
}

.ribbon p{
    cursor: default;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-size: 10px;    s
}

.ribbon a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.ribbon a:hover{
     color: rgba(255, 255, 255, 0.9);
}

.snowflakes{    
	overflow: hidden;
	text-align: center;
	background-color: #1B1B1D;
}

.snowflakes li{
	cursor: default;
	list-style-type: none;
	margin-bottom: 15px;
	height: 20px;	
	letter-spacing: 35px;	
	color: rgba(255, 255, 255, 0.75);
	font-weight: 100;
}

.snowflakes li::selection{
	color: rgba(255, 255, 255, 0.75);
	background: transparent;
}	

.snowflakes li:nth-child(odd){  font-size: 20px; }
.snowflakes li:nth-child(even){ font-size: 16px; }

.snowflakes li:nth-child(3n){   letter-spacing: 27px; }
.snowflakes li:nth-child(3n+1){ letter-spacing: 43px; }

.sign, .props{	
	position: relative;
	width: 700px;
	margin: 0 auto;
	top: -200px;
}

.sign .front {
	float: left;
	cursor: default;
	overflow: auto;
	width: 600px;
	height: 190px;
	margin: 20px 0;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;		
	background-color: #F5F5F5;
	border-top: 5px solid #4E0A0A;
	border-bottom: 5px solid #4E0A0A;

	-webkit-box-shadow: inset  10px 0 0 -5px rgba(0, 0, 0, 0.05), inset  20px 0 0 -10px rgba(0, 0, 0, 0.05),			
						inset -10px 0 0 -5px rgba(0, 0, 0, 0.05), inset -20px 0 0 -10px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: inset  10px 0 0 -5px rgba(0, 0, 0, 0.05), inset  20px 0 0 -10px rgba(0, 0, 0, 0.05),			
						inset -10px 0 0 -5px rgba(0, 0, 0, 0.05), inset -20px 0 0 -10px rgba(0, 0, 0, 0.05);
			box-shadow: inset  10px 0 0 -5px rgba(0, 0, 0, 0.05), inset  20px 0 0 -10px rgba(0, 0, 0, 0.05),			
						inset -10px 0 0 -5px rgba(0, 0, 0, 0.05), inset -20px 0 0 -10px rgba(0, 0, 0, 0.05);
}

.sign .front h1{		
	text-shadow: 0 4px 0 rgba(71, 9, 9, 0.15),
				 0 2px 0 rgba(71, 9, 9, 0.15);	
	border-bottom: 1px dashed rgba(218, 58, 58, 0.16);
}

.sign .front h1 small{
    display: block;
    line-height: 15px;
    color: #0E690E;
    font-family: Georgia;
    font-style: italic;    
    font-size: 22px;
}

.sign .front h1 big{  
    margin-bottom: 15px;	
	letter-spacing: 8px;
	color: rgb(218, 58, 58);
    font-size: 28px;
    text-transform: uppercase;
    
    background: -webkit-linear-gradient( rgb(237, 105, 105),  rgb(218, 58, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign .front h1::selection{
	color: rgb(218, 58, 58);
	background: #FFFFFF;
}

.sign .front .item{
	display: inline-block;
	width: 45%;
	max-height: 50px;
	padding:  15px 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}

.sign .front .item p{
	margin-bottom: 5px;
	text-align: center;	
	color: #0E690E;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(6, 77, 6, 0.21);
	text-transform: uppercase;
}

.sign .front .item input{
	width: 80%;
	height: 24px;
	padding:5px;
	text-align: center;
	color: #0E690E;
	font-size: 16px;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: 700;
	font-style: italic;	
	background-color: rgba(0, 0,0,0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);		

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;	
			border-radius: 2px;	

	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);

	-webkit-transition: opacity linear 2.5s;
	   -moz-transition: opacity linear 2.5s;
		 -0-transition: opacity linear 2.5s;
			transition: opacity linear 2.5s;
}

.sign .front .item input:hover{
	opacity: 0.9;

	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 5px rgba(56, 111, 13, 0.2);
	   -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 5px rgba(56, 111, 13, 0.2);
			box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 5px rgba(56, 111, 13, 0.2);
}

.sign .front .item ol li{
	display: inline-block;
	width: 10%;	
	padding-top: 2px;
	color: #61685F;
	text-shadow: 0 2px 0 rgba(255,255,255,0.25);

	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.1);

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;

	-webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.25);
	   -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.25);
			box-shadow: inset 0 2px 0 rgba(255,255,255,0.25);
    
    -webkit-transition: opacity linear 2.5s;
	   -moz-transition: opacity linear 2.5s;
		 -0-transition: opacity linear 2.5s;
			transition: opacity linear 2.5s;
}

.sign .front .item ol li:hover{
	cursor: pointer;
	opacity: 0.9;

	-webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.25), 0 0 5px rgba(56, 111, 13, 0.2);
	   -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.25), 0 0 5px rgba(56, 111, 13, 0.2);
			box-shadow: inset 0 2px 0 rgba(255,255,255,0.25), 0 0 5px rgba(56, 111, 13, 0.2);
}

.sign .front .item ol li.selected{	
	color: rgba(255, 255, 255, 0.42);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.25);

	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.1);
}

.sign .front #go {
	width: 80%;
	margin: 10px auto 0;
	padding: 5px;	
	color: rgba(0, 0, 0, 0.4);
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.08);	
	font-size: 22px;
	text-transform: uppercase;	
	background-color: #EB4040;
	border: 0;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;

	-webkit-box-shadow: inset 0 -5px 0 rgba(218, 58, 58, 0.8), inset 0 -15px rgba(218, 58, 58, 0.5);
	   -moz-box-shadow: inset 0 -5px 0 rgba(218, 58, 58, 0.8), inset 0 -15px rgba(218, 58, 58, 0.5);
	   		box-shadow: inset 0 -5px 0 rgba(218, 58, 58, 0.8), inset 0 -15px rgba(218, 58, 58, 0.5);
}

.sign .front #go:hover{
	opacity: 0.9;
	cursor: pointer;
}

.sign .post{
	float: left;	
	width: 22px;
	height: 300px;
	background-color: #4E0A0A;

	-webkit-border-radius: 2px 2px 0 0;
	   -moz-border-radius: 2px 2px 0 0;
			border-radius: 2px 2px 0 0;
	
	-webkit-box-shadow : 0 -5px  0 0 rgba(27, 27, 29, 0.05), 0 -10px 0 0 rgba(27, 27, 29, 0.05),
				 		 0 -15px 0 0 rgba(27, 27, 29, 0.05), 0 -20px 0 0 rgba(27, 27, 29, 0.05);
	   -moz-box-shadow : 0 -5px  0 0 rgba(27, 27, 29, 0.05), 0 -10px 0 0 rgba(27, 27, 29, 0.05),
				   		 0 -15px 0 0 rgba(27, 27, 29, 0.05), 0 -20px 0 0 rgba(27, 27, 29, 0.05);
			box-shadow : 0 -5px  0 0 rgba(27, 27, 29, 0.05), 0 -10px 0 0 rgba(27, 27, 29, 0.05),
						 0 -15px 0 0 rgba(27, 27, 29, 0.05), 0 -20px 0 0 rgba(27, 27, 29, 0.05);
}

.sign .post:before{
	content: '';
	display: block;
	width: 22px;
	height: 11px;
	background-color: #D8C38E;

	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;

	-webkit-box-shadow: inset 0 0 0 2px #D8C38E, inset 0 0 0 3px #4E0A0A,
			    		inset 0 0 0 4px #D8C38E, inset 0 0 0 5px #4E0A0A;
	   -moz-box-shadow: inset 0 0 0 2px #D8C38E, inset 0 0 0 3px #4E0A0A,
			    		inset 0 0 0 4px #D8C38E, inset 0 0 0 5px #4E0A0A;
			box-shadow: inset 0 0 0 2px #D8C38E, inset 0 0 0 3px #4E0A0A,
					    inset 0 0 0 4px #D8C38E, inset 0 0 0 5px #4E0A0A;
}

#card-selection{
    position: absolute;
    padding: 10px 5px 8px;
    width: 400px;
    top: 240px;
    left: 150px;
    
    text-align: center;
    background-color: #e2cc94;
    border: 2px solid #4E0A0A;
    border-top: 0;
    
    -webkit-border-bottom-right-radius: 2px;
     -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-bottomright: 2px;
         -moz-border-radius-bottomleft: 2px;
            border-bottom-right-radius: 2px;
             border-bottom-left-radius: 2px;
            
    -webkit-box-shadow: 0 6px 0 -4px rgba(0, 0, 0, 0.1), inset 0 6px 0 -4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 6px 0 -4px rgba(0, 0, 0, 0.1), inset 0 6px 0 -4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 0 -4px rgba(0, 0, 0, 0.1), inset 0 6px 0 -4px rgba(0, 0, 0, 0.1);
}

#card-selection > p{
    float: left;
    margin: 3px 0  0 10px;
    color: #4E0A0A;
    font-size: 12px;
    font-weight: 400;
}

#card-selection ul li, #card-selection ul li p{
    display: inline;
}

#card-selection ul li{    
    margin-right: 5px;
}

#card-selection ul li input{
    padding: 2px 5px;
    color: #4E0A0A;
    text-transform: uppercase;
    background-color: #e2cc94;
    border: 1px solid #4E0A0A;  
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
            
    -webkit-box-shadow: 0 0 5px rgba(78, 10, 10, 0.15), inset 0 4px 0 -2px rgba(255, 255, 255, 0.2);
       -moz-box-shadow: 0 0 5px rgba(78, 10, 10, 0.15), inset 0 4px 0 -2px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 5px rgba(78, 10, 10, 0.15), inset 0 4px 0 -2px rgba(255, 255, 255, 0.2);
}

#card-selection ul li input:hover{
    cursor: pointer;
    opacity: 0.7;   
}

#card-selection ul li input.selected{
    color: #D8C38E; 
    background-color: #2c0505;
    border: 1px solid #2c0505;
    
    -webkit-box-shadow: inset 0 -4px 0 -2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 -4px 0 -2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -4px 0 -2px rgba(0, 0, 0, 0.2);
}   

.snow-hill{
    min-height: 313px;
	padding: 10px 0;
	background-color: #ECECF5;  
    
    -webkit-box-shadow : inset 0 10px 0 -5px rgba(27, 27, 29, 0.05),  inset 0 20px 0 -10px rgba(27, 27, 29, 0.05),
				         inset 0 30px 0 -15px rgba(27, 27, 29, 0.05), inset 0 40px 0 -20px rgba(27, 27, 29, 0.05);
       -moz-box-shadow : inset 0 10px 0 -5px rgba(27, 27, 29, 0.05),  inset 0 20px 0 -10px rgba(27, 27, 29, 0.05),
				         inset 0 30px 0 -15px rgba(27, 27, 29, 0.05), inset 0 40px 0 -20px rgba(27, 27, 29, 0.05);
            box-shadow : inset 0 10px 0 -5px rgba(27, 27, 29, 0.05),  inset 0 20px 0 -10px rgba(27, 27, 29, 0.05),
                         inset 0 30px 0 -15px rgba(27, 27, 29, 0.05), inset 0 40px 0 -20px rgba(27, 27, 29, 0.05);
}

.presents .present{
	position: absolute;
	width: 74px;
	height: 74px;
}

.presents .present:nth-child(1){
	top: 225px;
	left: 65px;	
	background: #FD2271;
}

.presents .present:nth-child(2){
	top: 237px;
	left: 20px;
	background: #FF8500;
    
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	     -o-transform: scale(0.8);
	        transform: scale(0.8);
}

.presents .present:nth-child(3){
	top: 255px;
	left: 55px;
	background: #E21E1E;
	
    -webkit-transform: scale(0.65);
       -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
         -o-transform: scale(0.65);
            transform: scale(0.65);
}

.present:before{
	position: absolute;
	content: '~00~';
	display: block;
	left: -12px;
	top: -18px;
	letter-spacing: -6px;
	font-weight: 900;
	font-family: Helvetica;
	font-size: 51px;
	color: #333333;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);	
}

.present ul li{
	list-style-type: none;	
	float: left;	
	width: 34px;	
}

.present ul li:nth-child(1), .present ul li:nth-child(2){ height: 24px; }

.present ul li:nth-child(1){
	border-right: 3px solid #333333;	
	border-bottom: 3px solid #333333;	
}

.present ul li:nth-child(2){	
	border-left: 3px solid #333333;	
	border-bottom: 3px solid #333333;
}

.present ul li:nth-child(3), .present ul li:nth-child(4){ height: 44px; }

.present ul li:nth-child(3){	
	border-right: 3px solid #333333;
	border-top: 3px solid #333333;	
}

.present ul li:nth-child(4){	
	border-left: 3px solid #333333;
	border-top: 3px solid #333333;	
}

.props .snowman{
    position:absolute;
    top: 190px;
    right: 10px;
    
    -webkit-transform: scale(0.6);
       -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
         -o-transform: scale(0.6);
            transform: scale(0.6);
}

.props .snowman ul li:nth-child(2), .props .snowman ul li:nth-child(3){
    opacity: 0;
}

.props .snowman ul li:nth-child(4):before{    
    color: #7619a7;
}

.props .snowman ul li:nth-child(4):after{    
    background-color: #ECECF5;    
}

.tree, .snowman{ cursor: default; }

.tree ul li, .snowman ul li{
    list-style-type: none;
	margin: 0 auto;    
}

.tree ul li{	
	font-size: 2.5em;
	text-align: center;
	line-height: 0;
}

.tree ul li:nth-child(-n+3){
	margin-top: -41px;	
	border: 40px solid transparent;
}

.tree ul li:nth-child(1){ width: 0px;  border-bottom: 40px solid  #0C8F0C; }
.tree ul li:nth-child(2){ width: 40px; border-bottom: 40px solid  #0A800A; color: #F14949; }
.tree ul li:nth-child(3){ width: 80px; border-bottom: 40px solid  #056B05; color: #85F149; }

.tree ul li#starred{
	width: 10px;
}

.tree ul li#starred:before{
	color: #FFE13F;
	content: '★';			
	margin-left: -10px;
}

.tree ul li:nth-child(4){	
 	color: #6449F1;		
	width: 45px;
	height: 10px;
	background-color: #630202;			
}

.tree ul li:nth-child(5){
	width: 55px;
	height: 8px;
	background-color: #F11D1D;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

.tree ul li:nth-child(6){
	width: 30px;
	border: 7px solid transparent;
	border-top: 12px solid #E01A1A;
}

.snowman ul li:nth-child(2){
    width: 30px;
    margin-top: -105px;
    height: 30px;
    border-bottom: 4px solid #fff;
    background-color: #000;
}

.snowman ul li:nth-child(1)::selection, .snowman ul li:nth-child(4)::selection{
    color: #000;
    background-color: transparent;
}

.snowman ul li:nth-child(3){
    width: 50px;
    height: 8px;
    background-color: #000;    
}

.snowman ul li:nth-child(1), .snowman ul li:nth-child(4), .snowman ul li:nth-child(5){
    background-color: #FFF;
    
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.snowman ul li:nth-child(1){
    width: 70px;
    height: 40px;
    padding: 15px 0;
    text-align: right;
    letter-spacing: 15px;
}
    
.snowman ul li:nth-child(1):after{
    content: '>';
    display: block;
    line-height: 0;
    color: #ff9300;
    font-weight: 900;
} 
    
.snowman ul li:nth-child(4){
    margin-top: 30px;
    padding: 20px 40px;
    width: 10px;
    height: 50px;
    font-size: 20px;
    text-align: right;
    line-height: 10px;    
    word-wrap: break;
}

.snowman ul li:nth-child(4):after{
    content: '';
    display: block;
    position: relative;
    background-color: #a8d0d3;
    width: 90px;
    top: 95px;
    left: -40px;
    height: 20px;
}

.snowman ul li:nth-child(4):before{
    content: '=~~~~';
    display: block;
    margin: -10px 0px 10px -52px;
    letter-spacing: -6px;
    color: #3d69ff;
    font-size: 40px;
    font-weight: 900;    
}

.snowman ul li:nth-child(5){
    margin-top: -35px;
    width:  120px;
    height: 120px;  
}

.snowman ul li:nth-child(5):before{
    content: '}';
    display: block;
    width: 65px;
    height: 4px;
    font-size: 30px;
    font-weight: 900;
    line-height: 0;
    color: #4E0A0A;
    background-color: #4E0A0A;
    margin: 0 -35px;
    
    -webkit-transform: rotate(-40deg);
       -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
         -o-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.snowman ul li:nth-child(5):after{
    content: '}';
    display: block;
    width: 65px;
    height: 4px;
    font-size: 30px;
    font-weight: 900;
    line-height: 0;
    color: #4E0A0A;
    background-color: #4E0A0A;
    margin: 0 85px;
    
    -webkit-transform: rotate(-130deg);
       -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
         -o-transform: rotate(-130deg);
            transform: rotate(-130deg);
}

.foliage section.tree{ position: absolute; }

.foliage .tree:nth-child(even){}
.foliage .tree:nth-child(odd){
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -0-transform: scale(1.2);
            transform: scale(1.2);
}

.foliage .tree:nth-child(1){ top: 125px; left: -350px; }
.foliage .tree:nth-child(3){ top: 140px; left: -270px; }
.foliage .tree:nth-child(2){ top: 125px; left: -180px; }

.foliage .tree:nth-child(6){ top: 140px; right: -130px; }
.foliage .tree:nth-child(4){ top: 115px; right: -320px; }
.foliage .tree:nth-child(7){ top: 140px; right: -270px; }
.foliage .tree:nth-child(5){ top: 125px; right: -210px; }

.card-back{ 
    z-index: 8;
    margin: 400px auto 0;
    width: 500px;
	height: 500px;
    background-color: #F5F5F5;    
    
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
     -webkit-box-shadow: 0 10px 0 -5px rgba(27, 27, 29, 0.05),  0 20px 0 -10px rgba(27, 27, 29, 0.05),
				         0 30px 0 -15px rgba(27, 27, 29, 0.05), 0 40px 0 -20px rgba(27, 27, 29, 0.05);
        -moz-box-shadow: 0 10px 0 -5px rgba(27, 27, 29, 0.05),  0 20px 0 -10px rgba(27, 27, 29, 0.05),
				         0 30px 0 -15px rgba(27, 27, 29, 0.05), 0 40px 0 -20px rgba(27, 27, 29, 0.05);
             box-shadow: 0 10px 0 -5px rgba(27, 27, 29, 0.05),  0 20px 0 -10px rgba(27, 27, 29, 0.05),
				         0 30px 0 -15px rgba(27, 27, 29, 0.05), 0 40px 0 -20px rgba(27, 27, 29, 0.05);
}

.card-back p{
    color: #ff3838;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
}

.card-back p:nth-child(1), .card-back p:nth-child(3){
    height: 10%;
    font-size: 30px;
}

.card-back p:nth-child(1){
    padding: 50px 50px 0;
}

.card-back p:nth-child(3){
    padding: 0 50px 50px;
    text-align: right;
}

.card-back p:nth-child(2){
    height: 29%;
    padding: 80px;
    text-align: center;
    font-size: 55px;
}

.card{
    z-index: 1337;
	width: 500px;
	height: 500px;
	margin: -499px auto 120px;
	padding: 75px 15px;
	background-color: #023302;
	border: 4px solid #E01A1A;
    
    -webkit-transform: skewY(5deg);
       -moz-transform: skewY(5deg);  
        -ms-transform: skewY(5deg);
         -o-transform: skewY(5deg);
            transform: skewY(5deg);
        
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
            box-sizing: border-box;            
    
    -webkit-transition: all linear 0.4s;
	   -moz-transition: all linear 0.4s;
		 -0-transition: all linear 0.4s;
			transition: all linear 0.4s;

	-webkit-transform-origin: 0% 50%; 
	   -moz-transform-origin: 0% 50%; 	
		-ms-transform-origin: 0% 50%;
		 -o-transform-origin: 0% 50%; 
			transform-origin: 0% 50%;
}

.alternate{
    background-color: #a8d0d3;
	border: 4px solid #89a4ff;
}

.opencard{
    margin: -500px auto 145px;
    background: #F5F5F5;
    border: none;
        
	-webkit-box-shadow: -3px 3px 10px rgba(27, 27, 29, 0.05);
	   -moz-box-shadow: -3px 3px 10px rgba(27, 27, 29, 0.05);
	        box-shadow: -3px 3px 10px rgba(27, 27, 29, 0.05);

	-webkit-transform: rotateY(180deg) skewY(5deg);
	   -moz-transform: rotateY(180deg) skewY(5deg);
		-ms-transform: rotateY(180deg) skewY(5deg);
		 -o-transform: rotateY(180deg) skewY(5deg);
			transform: rotateY(180deg) skewY(5deg);

}

.card .tree, .card .snowman{	
	margin-top: 85px;
    
    -webkit-transform: scale(1.5);	
       -moz-transform: scale(1.5);	
        -ms-transform: scale(1.5);	
         -o-transform: scale(1.5);	
            transform: scale(1.5);	
}

a#toTheTop{
    position: fixed;
    left: 50px;
    top: 50px;
    padding: 5px;
    width: 55px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rrgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
            
    -webkit-box-shadow: 0 6px 0 -2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 6px 0 -2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 6px 0 -2px rgba(0, 0, 0, 0.05);
}

a#toTheTop:hover{
    cursor: pointer;
    opacity: 0.9;
}
